.header {
  background-color: #99e099;
  height: 80px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 55%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__box-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__links {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: orange;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__links:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-decoration: none;
  color: white;
}

.container {
  height: 100%;
}

.inform {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  margin-top: 20px;
}

caption {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.text_b {
  font-weight: bold;
}

.text_c {
  text-align: center;
  vertical-align: top;
}

.pad {
  padding: 30px 5px;
}

img {
  display: block;
  width: 200px;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0 5px;
}

dt,
.list {
  font-weight: bold;
}

.sailors {
  width: 850px;
  margin: 0 auto;
  margin-top: 20px;
}

.rower {
  position: relative;
}

.list {
  /* position: absolute;
	top: 5px; */
}

.list__text {
  font-weight: lighter;
}

dl {
  margin: 0;
}

th {
  font-size: 25px;
}

.top {
  background-color: #d9e2f3;
}

.columb {
  background-color: #fbe4d5;
}

.vasko {
  background-color: #e2efd9;
}

.magelan {
  background-color: #fff2cc;
}

.img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 50px;
  height: 50px;
}

h1 {
  text-align: center;
}

dt {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

/* dd {
    background-color: yellow;
  } */
ol,
ul {
  margin: 0;
}

dl {
  padding-left: 10px;
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px) {
  .container {
    max-width: 1140px;
  }
}

.discovery {
  padding: 20px 0;
}

.discovery__title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.discovery__text {
  font-size: 15px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.discovery__text-a {
  font-weight: bold;
  margin-bottom: 10px;
}

.discovery__img {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.discovery .mt {
  margin-top: 15px;
}

.discovery .link {
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */